@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{font-family: 'Montserrat', sans-serif; margin: 0; padding: 0;}
body{
    font-size: 14px;
    line-height: 1.7;
    overflow-x: hidden;
    overflow-y: scroll;
}


:root {
    --primary: #EA7637;
    --blue: #002136;
}